#base
CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_nlnet_xiguapi-v3=y
CONFIG_TARGET_ROOTFS_EROFS=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_default-settings-chn=y
#
CONFIG_PACKAGE_vim=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-theme-material3=y
CONFIG_PACKAGE_kmod-mt7921e=y
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_xray-core=y
#smartdns
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
#qmodem
CONFIG_USB_SUPPORT=y
CONFIG_PACKAGE_input-support=y
CONFIG_PACKAGE_luci-app-qmodem-next=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_WWAN=y
CONFIG_WWAN_CORE=y
CONFIG_PACKAGE_pcie_mhi=y
CONFIG_PACKAGE_mbim-utils=y
CONFIG_PACKAGE_ndisc6=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_USB=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_pciutils=y
#daed
CONFIG_PACKAGE_luci-app-daed=y
CONFIG_DEVEL=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_INFO_REDUCED=n
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_KERNEL_CGROUPS=y
CONFIG_KERNEL_CGROUP_BPF=y
CONFIG_KERNEL_BPF_EVENTS=y
CONFIG_BPF_TOOLCHAIN_HOST=y
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y
